[2019-10-04 08:49] scarrazza opened #1 "Modules"
---
- [ ] Computational backend
    - [x] Math functions
    - [ ] Hardware acceleration

In this module we restrict ourselves to C-style programming, this is due to the limitations imposed by `numba` and `openCL`.

---
- [x] Evolution module
    - [x] DGLAP solver
    - [x] Mellin Inversion

---
- [x] API
    - [x] Runcard parser
    - [x] Output tensor
---

[2019-10-04 09:24] scarrazza opened #2 "Implement entry point test"
Steps:
- copy a LO theory from NNPDF
- create a python test as `dict`
- send this `dict` to a `run_dglap` function

If someone disagree please complain now.

[2019-10-04 09:26] scarrazza opened #3 "Implement travis pipeline"
Steps:
- create a python `setup.py`
- create a conda-recipe
- enable travis for linux and osx
- enable tests

[2019-10-04 09:28] scarrazza opened #4 "Implement automatic documentation"
Steps:
- create a doc folder with `sphinx` setup
- add minimal layout for that
- integrate automatically on #3 .

[2019-10-04 09:31] scarrazza opened #5 "Implement basic LO QCD solution"
Steps:
- [x] encode the LO splitting functions
- [x] implement the beta function
- [x] maintain the `alphas` running fixed for the time being
- [x] solve the linear system algebra for the singlet and non-singlet sectors in N space
- [x] construct the final kernel operator in N space
- [x] invert the kernel to x space
- [x] benchmark results against APFEL

[2019-10-04 14:51] #2 closed, assigned to felixhekhorn, scarrazza, scarlehoff

[2019-10-07 10:22] #3 closed, assigned to felixhekhorn, scarrazza, scarlehoff

[2019-10-08 15:06] #4 closed, assigned to felixhekhorn, scarrazza, scarlehoff

[2019-11-06 10:38] scarlehoff opened #16 "numba everything up"
I think the code is in a good enough state to start the numbification, which will render it much faster.

This will help a lot with debugging, trying new interpolators, etc, etc

@felixhekhorn I will start doing this in parallel to your PR so you can merge it and get all the goodies of a faster code. I'll keep rebasing whatever you do in #9 so that you don't have to worry about anything breaking.

[2019-12-03 10:17] #16 closed, assigned to scarlehoff

[2019-12-04 15:28] scarlehoff opened #21 "Implement list of Q2"

[2019-12-04 15:28] scarlehoff opened #22 "Implement flavour number schemes"

[2019-12-04 15:29] scarlehoff opened #23 "QED evolution LO"
What Marek and Alan asked for more than one year ago :P

[2020-01-17 11:08] felixhekhorn opened #31 "Travis does not run"
It seems Travis does always fail - this is very likely due to the `test_dglap.py` tests, which are indeed very time consuming; can we increase the time limit somehow? or what else to do? (I set them to skip on my PC for exact this reason ;-) )

[2020-02-18 10:41] #22 closed, assigned to felixhekhorn

[2020-02-21 09:49] #31 closed, assigned to scarrazza

[2020-02-24 16:28] felixhekhorn opened #36 "Documentation"
concerning https://github.com/NNPDF/nnpdf/issues/656
my naive idea was to write everything in here and then link the NNPDF wiki to our documentation, because after all here is the implementation - is this possible @scarrazza ? or do I have to do a long version here and a short version there (or the other way round?)

[2020-02-24 16:33] felixhekhorn opened #37 "NLO implementation"
- [x] NLO splitting functions
- [x] NLO alpha_s -> different solvers become available
- [x] expanded vs. exponentiated solution

[2020-02-24 16:34] felixhekhorn opened #38 "scale variations"
allow renormalization scale and factorization scale to be varied independently

[2020-02-24 16:50] felixhekhorn opened #39 "Heavy quark mass schemes"
- ~~FONLL = https://arxiv.org/abs/1001.2312~~
- what else?

[2020-02-24 16:52] felixhekhorn opened #40 "polarized setup"
as I come myself from an polarized environment, I'd really like to sell it to this community too - meaning I'd like to implement it - should be easy after all ... but for that very reason, we could leave this also to someone external, to test this claimed "easiness"

[2020-02-24 16:58] #21 closed, assigned to scarlehoff

[2020-03-17 14:54] felixhekhorn opened #41 "docs to gh pages?"
Do we want to publish our documentations publicly (!) available on github pages? @scarlehoff @scarrazza

see https://n3pdf.github.io/dis/

and https://github.com/N3PDF/dis/blob/dev-ghpages-workflow/.github/workflows/pub_docs.yml

[2020-03-25 10:03] alecandido opened #42 "`operator.py` name clash"
### Problem
If you try to open a simple `python` interpreter inside the `src/eko` it crashes badly, and also everything that use `python` crashes as well.

<details><summary>Example stack trace:</summary>
Fatal Python error: initsite: Failed to import the site module
Traceback (most recent call last):
  File "/home/alessandro/projects/N3PDF/eko/env/lib/python3.7/site.py", line 769, in <module>

[2020-03-25 10:08] #42 closed, assigned to nobody

[2020-04-03 12:59] #41 closed, assigned to nobody

[2020-04-14 09:59] felixhekhorn opened #44 "backward evolution"
see also discussion at https://lists.cam.ac.uk/mailman/private/ucam-nnpdf/2020-April/msg00016.html

a see at least two different ways on how to do this:
- evolve from `Q0 -> Q1` and invert the matrix (numerically?)
- do true backward evolution which changing kernels

[2020-04-17 16:25] felixhekhorn opened #45 "Numba - cffi"
Do you know what is wrong?

https://github.com/N3PDF/eko/runs/595785702?check_suite_focus=true

[code]

[2020-04-17 16:46] #45 closed, assigned to scarlehoff

[2020-06-03 10:01] felixhekhorn commented on #23
talk by Paolo N in the seminar https://indico.cern.ch/event/918896/

[2020-06-10 09:52] Zaharid commented on #44
I don't believe inverting the matrix works: `\Gamma` is a linear operator rather than a matrix and that cannot be inverted in the same way. In particular you can always sample a sufficiently dense grid that the matrix cannot be inverted in a stable way. Conversely if the grid is not dense enough there is the question of how good the approximation is (which for inverse problems, by default means ba

[2020-06-18 15:28] felixhekhorn opened #49 "Alpha_s evolution bugged"
in NLO alpha_s object does not recover the reference value

[code]

[2020-06-18 15:33] felixhekhorn commented on #49
wait .. maybe not

[2020-06-18 15:41] felixhekhorn commented on #49
so, yes, there *is* a bug:

[code]

[2020-06-18 16:25] felixhekhorn commented on #49
tests: see https://github.com/N3PDF/eko/pull/48/commits/28339fe2f09f3a7de9a5da45aa4d49c515f4464d

I believe, that this will not work, because the expanded solution for alpha_s is not strictly invertible, as it is (by construction) an expansion and so we are missing terms

I propose as solution to *not* scale down to Q0 always (as we are doing now), but instead to always start from the reference sc

[2020-06-25 10:19] #49 closed

[2020-07-29 08:27] felixhekhorn commented on #23
until we do, I use this place to collect references: https://arxiv.org/pdf/2007.14300.pdf seems like it is an active filed of research

[2020-08-19 12:43] felixhekhorn commented on #23
https://arxiv.org/pdf/2008.02895.pdf "Factorized approach to radiative corrections for inelastic lepton-hadron collisions"

[2020-09-18 08:13] AleCandido opened #54 "Vectorial integration"
## The problem
In order to compute the singlet operators `eko` needs four elements: `S_qq`, `S_qg`, `S_gq`, `S_gg` (in [`get_ker(k, l)`](https://github.com/N3PDF/eko/blob/eca2b3ca174be1ae1abe28a90d4b807d3fd291b2/src/eko/kernel_generation.py#L85-L96) only the `k, l` element is provided).

These elements will depend on the anomalous dimensions, but in order to compute each of them all the 4 anomalou

[2020-09-24 15:47] #36 closed

[2020-09-24 15:47] #37 closed

[2020-09-28 08:39] felixhekhorn commented on #23
https://arxiv.org/pdf/2009.12220.pdf "Parton distributions in radiative corrections to the crosssection ofelectron-proton scattering"

[2020-10-08 10:07] scarlehoff opened #56 "Cuda in eko"
As we discussed the other day (/cc @felixhekhorn @AleCandido) I've tried to run `eko` in a GPU. It doesn't work out of the box right now, but the only thing stopping the `integrand` to be a cuda kernel is the `cern_polygamma` function and the scipy zeta function. The rest seems to compile ok (besides some `numpy` functions that have to be massaged a bit, but nothing too dramatic).

If we wanted to

[2020-10-08 10:15] scarrazza commented on #56
Thanks for checking, but when you say that running on GPU is possible you are talking about execution, not strategy to get performance improvements, right?

[2020-10-08 10:15] scarlehoff commented on #54
At some point I talked with @scarrazza about giving this to a student as it is not something extremely complicated but can be nice as a first experience with numerical integrations. And would be useful beyond `eko` because as you say the scipy implementation is really bad (performance wise).

There is also an extra thing we can do, related with issue #56. One can create a Cuda-`quad_vec` (and writ

[2020-10-08 10:16] scarlehoff commented on #56
Just execution, but the vectorization should come from doing things like the integrand I guess.

[2020-10-08 15:35] felixhekhorn commented on #38
closed by #55

[2020-10-08 15:35] #38 closed

[2020-10-08 16:54] AleCandido commented on #54
Thank you very much @scarlehoff, I don't have much experience with Cuda nor with GPU in general, but with generic parallelization yes, at least a bit, and if possible it would be great.

Since as you said it's quite a separate project (even if will be completely useful for `eko`) I would suggest that if at any time you have some man-power it's fine to make it (it's even possible that we will have

[2020-10-08 17:05] AleCandido commented on #56
@scarlehoff probably you already had a look to the `cern_polygamma` function, but I also looked and the only two things that are making it different from plain fortran-like code are:
1. raising an error (but there are others `numba` compiled functions that are raising errors, and you said there was no issue with them)
2. using `nb.List`, but it's a numba thing, so it should be fine

Than of course

[2020-10-08 17:21] scarlehoff commented on #56
Being Fortran code is one of the issues :P

Just to clarify, when I say stopping I mean from working ootb. It can be massaged out (even the nb.list -being numba doesn't make it cudafriendly though-, it's just allocating a constant array), I just skipped it.

Just the fact that numba wouldn't know what is the corresponding cuda kernel. The only supported functions are: https://numba.readthedocs.io/

[2020-10-09 16:05] AleCandido commented on #40
In APFEL it is done by:
- `RSLintegralsQCDPol` in `RSLintegralsQCD.f`
- `integrandsQCDPol` in `integrandsQCD.f`

[2020-10-09 16:10] AleCandido opened #57 "Intrinsic Charm"
Seems like the presence of intrinsic charm will affect also the evolution.

So in `apfel/Evolution/initPDFs.f`:
[code]

[2020-10-23 15:01] AleCandido commented on #57
We discovered how intrinsic charm is affected by evolution:
- light keep evolving with lights
- intrinsic (heavy) PDF do not evolve, since they have not collinear singularities, so the EKO in this sector is a simple identity (rank 4 identity, i.e. $\matbb{1}_fl \otimes \matbb{1}_interp$)
- for VFNS: do the same simply area by area

To do:
- [ ] name properly a function to go from Evolution Basis L

[2020-11-03 14:56] AleCandido opened #60 "Binary output"
Since we're going to get huge output object (in particular considering huge Q2 grids, currently tested only with a single Q2) instead of dumping json/yaml file maybe it would be better to move towards a json/yaml header for a binary blob (with instructions to decode it, like "row-major, (10, 10, 100, 100), float64").

Even better: dump wiht `numpy` and the descriptions may simply tell the method t

[2020-11-17 12:00] AleCandido commented on #44
Since in N space it's really a simple (vectorial) first order differential equation, once we have the solution evolving forward or backward makes no difference, no need to invert the matrix.

Instead we have one problem with intrinsic objects:
- we are able to evolve in one flavor patch
- we need to match the basis at thresholds, converting a charm in the flavor basis to its contribution at evolut

[2020-12-15 09:31] felixhekhorn opened #63 "Mass corrections to the DGLAP equations"
sounds interesting: https://arxiv.org/pdf/2012.07154.pdf

[2021-01-07 11:13] #1 closed

[2021-01-08 10:15] felixhekhorn commented on #39
- Matching schemes do *not* play a role in evolution
- Mass scheme however do play a role: pole vs. msbar mass
- if we trust in APFEL, the expression are given there ...

[2021-01-08 10:17] felixhekhorn commented on #5
benchmark will be start implemented in #59

[2021-02-22 09:54] felixhekhorn commented on #57
closed by #61

[2021-02-22 09:54] #57 closed

[2021-03-04 20:59] AleCandido commented on #60
Current binary **in** `yaml` it's rather good, but we definitely need to apply some kind of compression to all the binary blobs.

[2021-03-05 10:52] AleCandido commented on #60
Compression done.

Do we want to reconsider the output format or binary-in-yaml design is fine as it is?

[2021-03-05 10:53] felixhekhorn commented on #60
for the moment yes - maybe we can do more optimization in the future ...

[2021-03-05 10:53] #60 closed

[2021-04-01 16:54] felixhekhorn commented on #23
Hi,

During our last meeting we briefly discussed QED evolution equations, and I believe what we'll need are the DGLAP equations

- in the complex-mass scheme [1], with
- alpha set according to the Gmu scheme [2], i.e.

  alpha = sqrt(2)/pi * Gmu * | MW^2 * (1 - MW^2 / MZ^2) |

where

  MW^2 = mw^2 - i * gw * mw
  MZ^2 = mz^2 - i * gz * mz

are complex parameters using the real pole masses mw/mz,

[2021-04-12 08:12] AleCandido commented on #23
Updated references on DGLAP QED solution:
- section 2.2.3 in [@scarrazza thesis](https://arxiv.org/pdf/1509.00209.pdf)
- section 2 of [photon PDF from LHC data](https://arxiv.org/pdf/1701.08553.pdf)
- appendix A in [APFEL's lepton PDF](https://arxiv.org/pdf/1508.07002.pdf)

[2021-04-15 10:23] #5 closed

[2021-04-16 11:38] felixhekhorn commented on #23
A comparison between LuxQED and DGLAP: https://indico.bnl.gov/event/9726/contributions/46331/
https://www.youtube.com/watch?v=wvvVMiHFfnI&list=PLSU3NGiXqGfkDc4pQOmfqQj1qc3LlqMKX&index=4 starting ~ 01:05:00

[2021-04-27 06:57] juanrojochacon commented on #23
https://inspirehep.net/literature/1840369 Calculation of photon-induced Drell-Yan by means of the structure function approach

[2021-04-27 08:46] felixhekhorn commented on #23
https://github.com/gstagnit/ePDF

[2021-06-15 16:33] felixhekhorn commented on #23
This issue should really be split into two different ones:
- implement QED corrections to DGLAP -> is required for an APFEL replacement and seems methodologically in reach
- evolution of lepton PDFs (also described here https://arxiv.org/pdf/2103.09844.pdf ) -> is more complex and will due to the distributional character require some rework ...

[2021-06-22 08:31] felixhekhorn commented on #23
the corresponding paper: https://arxiv.org/pdf/2106.10299.pdf

[2021-06-28 08:49] #44 closed

[2021-08-16 08:13] felixhekhorn commented on #56
@scarlehoff since both the `eko` code and `numba` evolved quite a lot - maybe you can retry this at some point? However, of course, this is not urgent

[2021-08-16 08:43] scarlehoff commented on #56
What part would you want to see offloaded to the GPU? My guess would be the integrand (as it is what I naively would think benefits enormously of being parallelized) but is that the/a bottleneck when actually running eko?

[2021-08-16 09:18] felixhekhorn commented on #56
Indeed: there are two integrations that take most of the time: the actual evolution kernel and the matching conditions (and soon there will be yet a third time: the splitting functions for scheme B - right, @giacomomagni ? )

[2021-08-20 09:27] felixhekhorn opened #75 "Doped PDF sets"
JR on 20.08.21 08:34:

SF on 20.08.21 09:03:

[1] http://nnpdf.mi.infn.it/wp-content/uploads/2017/10/NapoletanoTesi.pdf

also discussed here, I guess: https://inspirehep.net/literature/1393268

[2021-08-23 06:59] giacomomagni commented on #56
Yes @felixhekhorn you are right. The third type of integration has to be performed just once independently from the evolution path.

[2021-08-31 08:55] felixhekhorn commented on #23
https://arxiv.org/pdf/2108.13371.pdf - I guess it's mostly about yadism but also, of course, partly about eko

[2021-08-31 09:05] felixhekhorn commented on #40
https://arxiv.org/pdf/2108.12807.pdf - they are doing some corrections to DGLAP?

[2021-10-07 10:52] alecandido opened #76 "Output format revamped"
In the eko presentation arose again the topic of the output format, already faced in #60.

The request was to have a more standard format, and at the same time to split the metadata from the actual data (@zaharid).

We would like to accomplish the first one (the choice of yaml was to have a broadly supported format), and we don't dislike the second.
Nevertheless, when you combine this requests wit

[2021-10-08 07:17] Zaharid commented on #76
Out of curiosity, how big are these files typically?

[2021-10-20 13:26] AleCandido opened #78 "Speed up first import"
Compilation is needed only once per installation, nevertheless it is a bit annoying that actually the first time you try to run you don't have any feedback for a while.

There is an easy way to speed up compilation, since at the moment we are doing it on a single core. We can just add to the decorators:
https://github.com/N3PDF/eko/blob/47ad7d011bd853a86fe2cf7239931e28addb958b/src/eko/kernels/evol

[2021-10-25 13:42] #76 closed, assigned to nobody

[2021-11-11 10:00] felixhekhorn commented on #23
MSHT20qed: https://arxiv.org/pdf/2111.05357.pdf

[2021-11-19 15:09] andreab1997 opened #80 "Recover plot operators"
Not correct plotting of operators when benchmarking using sandbox. The generated pdf file has lot of blank pages and some of the plotted values are NaN.

**Reproduce**
1. change `plot_operator`  to `True`  in `sandbox.py`
2. Run `python sandbox.py`
3. Look to the output in  ...eko/benchmarks/data/apfel_bench/

[2021-11-19 15:27] AleCandido commented on #80
Please, can you add some details and how to reproduce?

[2021-11-22 14:59] andreab1997 commented on #80
@AleCandido Since we found the problem and changed the colormap, I think we can close this issue, right?

[2021-11-22 15:21] AleCandido commented on #80
I think so as well :)

Maybe last thing is: check how they look like in evolution space (in principle should be much easier, since you should only have relevant elements for `S.S, S.g, g.S, g.g, T3.T3, V3.V3, ...`, and not the full square).

[2021-11-22 15:22] AleCandido commented on #80
Most likely it won't happen, because the operator is computed before in flavor space. A possible solution is to introduce some kind of tolerance when checking the absolute maximum, and ignore operators that have all elements below.

[2021-11-22 15:49] andreab1997 commented on #80
Problem is that I noticed now that plots.py only plots on pid labels. So first I need to change this

[2021-11-23 12:53] andreab1997 commented on #80
Now the plots in evolution basis should be available. However, I found another bug. When you run sandbox in flavor_basis it will not work. Speaking to @felixhekhorn, he said that it is related to how the caching is done and that it is a known bug. So, should I close this issue @AleCandido?

[2021-11-23 15:26] AleCandido commented on #80
Thank you very much for your progresses @andreab1997, about the two points:

- before closing the issue, I'd like to see the plots in evolution basis, if they are fine I'd be happy to actually close (for the sake of speed, and by the way reporting, can you post a PDF in a comment in this issue, please?)
- concerning the `flavor_basis` I don't perfectly remember the issue, but I've an idea, and I a

[2021-11-23 15:40] andreab1997 commented on #80
Yes, I post here the PDF with the plot in ev.basis
[off080e_tedfbed.pdf](https://github.com/N3PDF/eko/files/7589240/off080e_tedfbed.pdf)

[2021-11-23 15:53] AleCandido commented on #80
You see that some are not worth to plot, like `V3.V`:

![Screenshot from 2021-11-23 16-47-37](https://user-images.githubusercontent.com/10830876/143057059-518ca01c-9119-4759-baa1-bbd951e8e772.png)

because it's fully non-singlet and non-diagonal, but also `V.g`:
![Screenshot from 2021-11-23 16-48-31](https://user-images.githubusercontent.com/10830876/143057275-999d2579-468a-48f3-9fbe-2a57143f6ecf.

[2021-11-23 16:43] andreab1997 commented on #80
Yes, sorry you had already mentioned the threshold stuff. Anyway, now it should work. I'm posting the new pdf.
[off080e_tedfbed.pdf](https://github.com/N3PDF/eko/files/7589677/off080e_tedfbed.pdf)

[2021-11-23 21:36] AleCandido commented on #80
Don't mind, that's exactly how the old plots looked like, and it's perfectly recovered.

Thank you for your effort, I think we can close!

[2021-11-24 08:18] giacomomagni commented on #80
Hi guys, sorry for stepping in, I have a naive question, why in the op plots the last grid points (bottom right corner) are not a triangular matrix... I see they contain small values, but they shouldn't be there at all no?
If not too much, it will be nice to rescale the axes in the range [x_min, 1] instead of the grid binning

[2021-11-24 09:45] AleCandido commented on #80
It's a relevant question, and you have to add that last row is also empty, but we have answers for this (and at least the second one you should know, since you implemented yourself):
- it's not triangular because of interpolation, you need at least that many points (`interpolation_degree + 1`)
- last row is empty, because the PDF it's constrained to be 0 at z=1 `f(z=1) = 0`, thus it is completely

[2021-11-24 09:46] AleCandido commented on #80
I guess you are speaking of relabeling the axes (that's feasible) with z values (I keep calling z, you know why), but bins are bins (those are matrix entries), so I would keep the binning explicit (even in the relabeled variable)

[2021-12-10 10:43] felixhekhorn opened #81 "Renaming output does not work"
**Describe the bug**
Renaming the output file leads to the thing being unusable

**To Reproduce**
Steps to reproduce the behavior:
1. save an output to `a.tar`
2. rename `a.tar` to `b.tar`
3. try to load `b.tar`
4. See error: "... metadata.yaml not found ..."

**Expected behavior**
it should still work, since EKOs are expensive we want to be able to reuse them (if e.g. my mistake the name was misc

[2021-12-10 11:10] AleCandido commented on #81
I'd say it's more coming from here:
https://github.com/N3PDF/eko/blob/470d892e2ad4ec589a8f6ca12185f19a6fc8c69c/src/eko/output.py#L406
and then:
https://github.com/N3PDF/eko/blob/470d892e2ad4ec589a8f6ca12185f19a6fc8c69c/src/eko/output.py#L501
is consequential.

I'll fix it this afternoon.

[2021-12-10 11:12] felixhekhorn commented on #81
it's even fine as a default, this should be a second option, I think ...

[2021-12-10 11:18] AleCandido commented on #81
If this is preventing renaming, and we can avoid, then let's avoid :)

[2021-12-10 16:53] AleCandido commented on #81
Actually, I don't need to rely on any external name, since there is a single folder inside the tar.

Now I'm simply iterating inside the content, thus I found the inner folder, whatever its name is, and I load its content.

[2021-12-10 17:21] AleCandido commented on #81
Now I even succeeded in testing the implementation (before I tested the trick in isolation, but it was not enough).

Before closing, maybe we should write a regression (in unit tests, of course), to make sure it will work even in future (dump -> renaming -> loading).

[2021-12-13 10:45] felixhekhorn commented on #81
done in https://github.com/N3PDF/eko/commit/c657c047c2eb43c7fa6bb99ec3ced3349dabc4e9 - this fails in https://github.com/N3PDF/eko/commit/4f963e889d13468a1e8eabbc8290799659975e88

[2021-12-13 10:45] #81 closed

[2021-12-13 11:22] AleCandido commented on #81
Thank you very much @felixhekhorn

[2022-01-14 12:52] #39 closed

[2022-01-17 10:19] felixhekhorn opened #84 "Call anomalous mass dimension \gamma_m"
To avoid confusion, let's call he anomalous mass dimension `\gamma_m` (in contrast to the anomalous PDF dimension that we keep at `\gamma`). This has to be changed:
- in the [docs](https://eko.readthedocs.io/en/develop/theory/pQCD.html)
- in the [paper](https://github.com/N3PDF/papers/blob/e20c79f90724d66251efe416c7c32a80b01668e4/eko/sections/phenomenology/msbar-masses.tex)
- in the code (if used

[2022-01-17 12:35] giacomomagni commented on #84
Okay I agree. Will take care of fixing this.

[2022-01-17 13:00] giacomomagni commented on #84
I noticed that we do have all the ingredients for easily adding also the N3LO msbar evolution. Shall I open a PR?

[2022-01-17 13:02] felixhekhorn commented on #84
I guess later we want to go full N3LO - so I'd say go ahead ...

[2022-01-20 16:55] AleCandido opened #86 "Plots on website"
A huge number of plots can be produced to extensively document `eko` options.

- all solutions
- several matching options
- scale variations
- all benchmarks
- ...

To show all of them the paper is not the proper place, but not even is the documentation.

So a good option is to put them on [eko website](https://n3pdf.github.io/eko/) (i.e. GitHub Pages).

[2022-01-26 18:28] AleCandido opened #87 "ekobox plots"
- [ ] import plots utils from a number of sources:
  - `ekomark`
  - IC paper
  - `eko` paper
- [ ] always use `eko` paper style for plots
- [ ] extend the mechanism of plots runcards:
  - functions should take dictionaries as inputs, not file paths (more general, wrappers might be provided, but they would be extremely thin)
  - provide as many defaults as possible: in principle one should give on

[2022-01-27 11:20] scarrazza commented on #78
Sorry @AleCandido, I was talking to Felix and what you say is completely wrong XD.
Parallel true, allows you to use numba.prange and he automatic parallelization through omp, tbb, etc.
This has nothing to do with AOT or JIT compilation.

[2022-01-27 13:19] AleCandido commented on #78
Got it.

After investigation, looks like there is no way in `numba` to control compilation options (and yes, it seems to compile on a single core).
Most likely the multithreaded compilation is still lacking in `llvm`: https://reviews.llvm.org/D52193 (it looks like a lot of compilers are still single threaded, e.g. even `rustc` is based on `llvm`, so most likely the parallelization is at the level

[2022-02-09 16:47] felixhekhorn opened #92 "genpdf error"
calling `genpdf generate -p NNPDF40_nnlo_as_01180  n4uonly 2` we get
[code]
which is not readable by LHAPDF

[2022-02-10 11:18] felixhekhorn commented on #92
Moved to https://github.com/N3PDF/banana/issues/15#issuecomment-1034797277 where it belongs

[2022-02-10 11:18] #92 closed

[2022-02-10 11:32] AleCandido opened #93 "Evolved PDF object"
At the moment, the only output of `eko` is the operator itself, and for the main package is even fine.

In order to have a usable evolved and interpolated object, you need to build/load the operator, apply it, dump the PDF set in lhapdf format, and load again with lhapdf.

It is nice to have lhapdf interface, but I'd say that it should not be mandatory to use an evolved set.

### Proposal

Let's m

[2022-02-11 09:01] AleCandido opened #94 "Minimize the amount of initial imports"
**Motivation**: As soon as you install `eko`, you'll need to wait a while on first import. This is needed for the `eko` *application*, but unnecessary and completely counter-intuitive for the `eko` library.

At the moment importing `eko` means importing `eko.runner`, and also `eko.output`.

Then, as it makes sense, importing runner means importing everything (see [dependency graph](https://eko.rea

[2022-02-11 13:11] felixhekhorn commented on #78
Closing in favor of #94

[2022-02-11 13:11] #78 closed

[2022-02-20 08:21] AleCandido commented on #54
I believe this is going to be critical for QED, since the coupled sector is going to increase. I would assign more priority.

[2022-02-21 08:12] #84 closed

[2022-02-21 09:23] felixhekhorn commented on #54
I'm not sure - there are many more tasks with higher priority ... (like parallelize)

[2022-02-23 22:00] AleCandido opened #96 "Memory saving output"
We realized that most `eko` operations do not depend on multiple `Q2` at the same time.

The full `OperatorGrid` is a rank-5 tensor, by using only one `Q2` at a time we reduce the problem to a rank-4 tensor, with much less memory consumption.

In order to get a usable and flexible structure, a few capabilities are needed for the new structure:
- [x] separate `Q2` storage: it will be `{q2}.npy`
- [

[2022-02-23 22:27] AleCandido opened #97 "Lazy loading for rust"
We'd like PineAPPL as well to be able to consume an EKO one `Q2` at a time, since evolving grids requesting a huge number of `Q2` points would require splitting the grid otherwise.

In order to do this, the easiest is to directly provide and maintain a Rust crate that is able to manage the EKO output format.
Indeed, PyO3 would make it possible to run Python code from Rust, but it is more a handle

[2022-02-23 22:30] AleCandido opened #98 "Q2 jobs"
The moment we close #96, we can start splitting jobs for each separate `Q2`.

At the end:
- one job has to compute thresholds
- all the others will be just one per `Q2` value

And then we rejoin everything together, once we have the two pieces (thresholds and partial).

[2022-02-24 10:01] felixhekhorn commented on #97
as you already said: i. or ii. seem to be likely candidates ...

[2022-02-24 10:15] felixhekhorn commented on #96
at first I wanted to point out that we should use the byte representation, but then I thought maybe we could actually use this to introduce an approximation: we could use log(Q2) with a fixed precision (say 4 digits) and this way save some computations ...

- before being able to merge full output objects, we first need to be able to extend existing outputs
- a simple condition for this is to dump

[2022-02-24 10:19] AleCandido commented on #97
Yes, but unfortunately no one of them is very much maintained, so we have to be ready to fix them ourselves (if needed).

We might want to have a look at the code, `.npy` is not a very complicated format, it is just the binary dump of an array + some headers. In any case, the crates are a better starting point than writing everything from scratch, if we're lucky they will completely fulfill our pu

[2022-02-24 10:32] AleCandido commented on #96
This is fine, but I wonder if `Q2` might be simpler than `log(Q2)`: I know the `log` is more relevant, but the other way it's easier to inspect manually, since you require fewer operations (but we can think about it).

I was just thinking the other way round: the moment we can merge, we use this to extend.

I thought it was done, but maybe I'm only doing it for yadism...

This I'm not sure: it's e

[2022-03-02 09:41] alecandido opened #99 "Optimize EKO in flavor"
We can optimize EKOs final object for cases in which it's known that not all flavors are needed.

This is corresponding to a similar optimization done at the level of PineAPPL `FkTables` https://github.com/N3PDF/pineappl/issues/79.

[2022-03-02 10:18] felixhekhorn commented on #99
(With the current layout,) actually, there is nothing to do then calling `flavor_reshape` ...

[2022-03-02 11:27] AleCandido commented on #99
I agree, but we can provide a wrapper to generate a suitable evolution basis, just specifying how many flavors you want (`FkAssumptions`-like).

[2022-03-02 14:09] felixhekhorn commented on #97
maybe we should provide the possibility to do the `xgrid_reshape` on get-time

[2022-03-04 10:37] AleCandido opened #100 "CI Benchmarks"

[2022-03-04 10:38] AleCandido opened #101 "MSbar Masses Scale Variations"
In principle, even the running of the masses is at fixed order, and the contribution from missing higher order can be estimated by the running that follows from RGE.

This will estimate MHOU in the masses' anomalous dimension, and it is yet another different scale from renormalization and factorization scales.

It might be argued (*citation needed*) that if not varied on its own, it should be kept

[2022-03-05 19:11] AleCandido opened #102 "Ekomark & Ekobox true unit tests"
Unit tests are much faster to run, and they are extremely useful to spot quickly and in a precise way if there is anything broken.

`ekobox` and `ekomark` have no dedicated unit tests at the moment, so they should be written, after #79

[2022-03-07 13:46] AleCandido commented on #96
we have a detailed plan for the output:

## Plan

The folder will contain:

- `metadata.yaml`, containing output metadata (already present)
- `runcards` folder, containing all the runcards needed to reproduce the output
  - in case of products and later manipulations, all the involved runcards are saved to this folder, and the full history to reproduce is written in `metadata.yaml`
- `recipes` fol

[2022-03-08 11:08] felixhekhorn opened #103 "Unify language on matching"
the preferred name for matching in NNPDF seems to be "matching scale" (instead of "matching threshold") - we should check our documentation and adjust where needed

[2022-03-10 16:47] scarlehoff opened #104 "Added conda package"
Added a conda recipe to `conda-forge`

https://github.com/conda-forge/staged-recipes/pull/18289

Looks straightforward enough so I guess it will be part of conda-forge soon as soon as it is reviewed (I haven't pinged anyone yet because I'm waiting for the tests, ran only the Linux one in docker in my own computer).

[2022-03-10 18:11] scarlehoff commented on #104
@andreab1997 once that is added to conda forge we will be able to merge https://github.com/NNPDF/nnpdf/pull/1537

[2022-03-12 12:56] scarlehoff commented on #104
@AleCandido can the `banana` dependency be dropped? I don't understand why should eko depend on a package to benchmark against apfel. Shouldn't the `data` directory be part of ekobox?

[2022-03-12 13:00] AleCandido commented on #104
`eko` is a unique distribution package, containing three distinct python packages: `eko`, `ekomark`, and `ekobox`.

The dependencies listed are required to be there, even though the installation of `ekomark` and `ekobox` is optional (in the sense that they are allowed not to work, because their dependencies are optional).

So, `banana` is already optional, but no, we cannot drop.

[2022-03-12 13:01] scarlehoff commented on #104
I will need `ekobox` for what @andreab1997 is doing, which means I need `banana` right?

Btw, how do I not install `ekomark` and `ekobox`? `pip install .` will install all three regardless.

[2022-03-12 13:05] AleCandido commented on #104
`pip install .` will install everything, but as written above, "they are allowed not to work".

Installing in python means copying some files somewhere, if you don't need, you can avoid `import` and nothing bad will happen (if you install only `eko` dependencies, `import eko` will work perfectly smooth, not everything else).

If you need `ekobox`, then you genuinely need `banana` (`ekobox` -> `eko

[2022-03-12 13:06] scarlehoff commented on #104
Damn. Ok, then I will need more conda packages.

Does `banana` depend on `lhapdf` or `apfel`?

[2022-03-12 13:10] AleCandido commented on #104
There is no `apfel` package on PyPI, and we do not depend on nothing that can not be installed by `pip`.

But you have bad luck: `banana` already depends on the temporary package I made for [`lhapdf`](https://pypi.org/project/a3b2bbc3ced97675ac3a71df45f55ba/) on PyPI.
In some sense I'm not very happy, since that package has various problems (not writing `lhapdf.conf` in the environment, that is in

[2022-03-12 13:10] AleCandido commented on #104
P.S.: actually is everywhere: even `ekobox` depend directly on it, not only through `banana`
https://github.com/N3PDF/eko/blob/341e6323e680d2320ae4400da61c92a445160416/pyproject.toml#L54

[2022-03-12 13:11] scarlehoff commented on #104
Oh no.

[2022-03-12 13:12] scarlehoff commented on #104
(┛ಸ_ಸ)┛彡┻━┻

Let's talk on Monday to see whether there's a way we can go around this.

[2022-03-14 08:50] scarlehoff commented on #104
Ok, added recipe for banana as well (same PR) https://github.com/conda-forge/staged-recipes/pull/18289 and @zaharid added LHAPDF https://github.com/conda-forge/staged-recipes/pull/18315 so we should be good to go.

Once @scarrazza adds also pineappl we have everything in conda.

@AleCandido could you give me a more external-friendly description for banana, I feel what I use is too short (and would

[2022-03-14 09:04] scarrazza commented on #104
It is already in conda-forge and updated.

[2022-03-14 09:28] AleCandido commented on #104
Yes, let me think a moment. Even though it's more or less true, but I would replace `eko` and `yadism` with DIS and evolution codes.

[2022-03-15 07:01] AleCandido commented on #104
@scarlehoff I saw the updated description, for me is good enough :)

[2022-03-17 12:27] AleCandido opened #106 "Versioning data format"
Since:
- we're now putting a lot of effort in the output format (see #105)
- multiple libraries will be able to read it (see #97)

we should definitely start to assign versions to it (see https://github.com/N3PDF/pineappl/issues/118).

Versions should be:
- written in all the files
- be easy to query (as easy as possible)
- not overwritten by a library that generates new ones (even if it's able to

[2022-03-18 08:50] AleCandido opened #107 "Improve EKOs product"
At the moment, the product is implemented in `ekobox.utils`, but it is rather naive:
1. it is not updating metadata, that remain those of the initial object (since it's cloned)
2. it is not doing a proper job when paths collide: `a -> b -> c` is not used when `a -> c` already existed in the LHS

In order to address point 1. a stable output is needed (as requested in #77 and sketched in #105).

The

[2022-03-25 16:31] felixhekhorn commented on #23
With respect to reproducing 3.1 LUXQED: this is something that we never quite managed to do exactly (I think we got within 1%, after we spoke with you and Alessandro). The settings that we were using were:
[code]
Given that we couldn’t remake LUXQED perfectly, we decided to do something that was as internally consistent as possible within our project: we started with the 3.1 LUXQED baseline at the

[2022-04-05 08:10] scarlehoff commented on #104
This can be closed:

https://github.com/conda-forge/eko-feedstock

[2022-04-05 08:10] #104 closed

[2022-04-05 08:37] felixhekhorn commented on #104
I've added the conda badge - shall we also add the AUR badge?

[2022-04-05 11:37] AleCandido opened #112 "QED roadmap"
Let's actually make an issue to summarize the QED development (i.e. the actual implementation of QED evolution in EKO), while the old #23 will keep serving the purpose of collecting ideas and related items.

- [x] unified basis implementation #89
- [x] anomalous dimensions implementation #111
- [x] running of the couplings #115
  - [x] specify orders in the runcards, proposal `PTO: n`  -> `order:

[2022-04-08 15:57] felixhekhorn opened #113 "Stop propagating alpha_s in output"
As I realized in https://github.com/N3PDF/pineappl/pull/138 it is stupid to store the alpha_s values along side (since you don't know the renomalization scale of the process), so if you wish you can stop propagating that information here ...

_Originally posted by @felixhekhorn in https://github.com/N3PDF/eko/issues/105#issuecomment-1093028146_

[2022-04-08 16:41] AleCandido opened #114 "Exterminate `from_dict`"
At the moment, we've `from_dict` methods all over the place, that expect a runcard with all the elements they need, but not specifying which ones.
At LO they are recapped by `runner` (where most of these methods are used):
https://github.com/N3PDF/eko/blob/813bd656159cde5c5d176b54ca99139e2280cb44/src/eko/runner.py#L44-L55

The information that is thus passed down is very unclear, and changes in th

[2022-05-10 10:55] felixhekhorn opened #116 "Improve documentation"
- provide examples
- Mellin path argument choice https://github.com/N3PDF/eko/pull/83#discussion_r869079192 @giacomomagni

[2022-05-11 06:51] giacomomagni commented on #80
This has been solved right?

[2022-05-11 06:58] AleCandido commented on #80
I guess so. @andreab1997?

[2022-05-11 07:12] andreab1997 commented on #80
Yes, it is solved.

[2022-05-11 07:20] #80 closed

[2022-05-11 08:07] #103 closed

[2022-05-19 16:55] felixhekhorn opened #119 "Matching failed to compile"
Running `eko` resulted in
[code]
which is fine - because he needs to compile on each core after that its just normal; after that it is quick:
[code]
but then I reached the threshold and I get
[code]
and after that nothing is happening for 45min (but the CPU running at full power) when I decided to kill the process

I haven't investigated yet - @giacomomagni @AleCandido any ideas?

[2022-05-19 17:02] AleCandido commented on #119
Nope, no real idea, I'm lacking details. Try to accumulate more information, if possible (like where is actually stopped, and things like this).

Just a stupid observation @giacomomagni can quickly reply to: we don't have any shared resources, do we?
Simply because a typical problem of parallel computation is a deadlock, that would have exactly this phenomenology, but I consider it unlikely.

In a

[2022-05-19 17:02] felixhekhorn commented on #119
Wait a second - I killed the process and I believe I killed the parent one, but apparently no! the log continued just now:
[code]
there is something fishy ...

[2022-05-19 17:04] AleCandido commented on #119
Now I'm more concerned about parallel execution

[2022-05-20 12:07] felixhekhorn opened #120 "Improve Notebook usage in docs"
To not block #117 let's discuss [the issue raised concerning notebooks](https://github.com/N3PDF/eko/pull/117#discussion_r876884900) here

Maybe we could try something along the lines of https://nbsphinx.readthedocs.io/en/0.8.8/custom-formats.html#Example:-Jupytext

[2022-05-20 19:04] giacomomagni commented on #119
Hi @felixhekhorn , I don't have any clue why this happened... do you have something we can use to reproduce the bug?

[2022-05-21 09:11] AleCandido commented on #94
I believe we don't need this any longer, because of:
- mainly the `numba` rearrangement
- and the forthcoming runner-less structure (in which runner will be optional, and thus by default importing much less)

Can we close this? @giacomomagni @felixhekhorn

[2022-05-22 22:31] giacomomagni commented on #94
okay, fine

[2022-05-23 08:42] felixhekhorn commented on #94
Agreed

[2022-05-23 08:42] #94 closed

[2022-05-23 16:26] felixhekhorn commented on #119
- Do we really want this for 0.9.2? meaning blocking the referee reply?
- I haven't much of a clue yet - I'm even more puzzled
- I computed some ekos together with @andreab1997  forgetting about this - at it worked; I now suspect that in my first debug attempt I did revert to 0.8 and we were using that one (so @andreab1997 I think what we saw was not using the fixed version)
- I also have a suspic

[2022-05-23 16:37] andreab1997 commented on #119
So is still possible that the solution we tried was correct and today we were looking at the wrong results?

[2022-05-23 18:01] AleCandido commented on #119
This is clearly `numba` pickling some compiled routing.

[2022-05-24 16:12] felixhekhorn opened #121 "problems with scheme B scale variations"
in pineko we have a problem with scheme B scale variations https://github.com/N3PDF/pineko/pull/19 (we should move pineko to NNPDF to make @giacomomagni able to see it ...)

- our first guess was to remove the scale variations of the strong coupling to "no correction is applied here to the "resummation" scale," [as said by @AleCandido] - which we didn't do before (see [here](https://github.com/N3P

[2022-05-25 11:20] AleCandido opened #122 "Cut `banana` out of `ekobox`"
Maybe the solution is just a forth package, `ekobox` and `ekomark` will depend on it, but at least `ekobox` won't depend on `ekomark`, and we're sure will not depend on `banana`.

[2022-05-25 14:16] felixhekhorn commented on #121
- [ ] most likely a missing minus sign from Eq. 3.33
- [ ] in scheme B the starting scale has to be kept fixed (so no *effective* shifting - in practice we might do and undo the thing); in scheme A the current implementation is correct
- [ ] `pineko` need to request for scheme B the *central* scale (and not the shifted one as at the moment of writing is doing); effectively eko is takining fully ca

[2022-05-25 14:55] felixhekhorn commented on #122
@scarlehoff we were thinking about this as a solution for the problems in https://github.com/NNPDF/nnpdf/pull/1529

[2022-05-25 16:21] AleCandido commented on #121
What if we made `pineko` public to begin with?

[2022-05-25 16:24] giacomomagni commented on #121
It's already public! I'm able to see it :)

[2022-05-25 16:41] AleCandido commented on #121
What if we made `pineko` public to begin with?

[2022-05-31 16:33] giacomomagni commented on #119
Hi @felixhekhorn, thanks for taking care of this.
I believe that something that can fix these issues about the N3LO matching would be to produce a parametrised expression of  `A_qqNS` which is the only one including the analytical weight=5 harmonics sums and the functions contained in the `eko.harmonics.f_functions` module.
[see here](https://github.com/N3PDF/eko/blob/master/src/eko/matching_condi

[2022-06-07 09:23] scarlehoff commented on #122
This is in the milestone for 0.9.4 (which has been reelased) but it is not closed. What is the status? (to know whether I have to update the conda recipe or not: https://github.com/conda-forge/eko-feedstock/pull/3)

[2022-06-07 09:38] AleCandido commented on #122
The person that released v0.9.4 simply forgot to update the milestone (milestones in EKO have been just introduced, people are not familiar with them...). I'm updating it.

[2022-06-07 10:35] felixhekhorn commented on #122
sorry :innocent:

[2022-06-07 10:39] AleCandido commented on #122
No problem :)

[2022-06-13 09:09] AleCandido commented on #119
@felixhekhorn do you still experience this behaior?

[2022-06-13 09:46] felixhekhorn commented on #119
with the completion of #124 of course this is gone - but that was a strictly temporary fix and the true thing is #123 or the rework mentioned by @giacomomagni ... even more so in the light of the approaching N3LO ad ...

[2022-06-13 09:56] AleCandido commented on #119
Nevertheless, I would say we can consider this problem solved, in the short term.

#123 it is already on its way, and it will provide a longer term solution, and about the rework we are already aware, and it won't happen soon (not before completion of N3LO ad).

[2022-06-13 10:40] felixhekhorn commented on #119
Agreed

[2022-06-13 10:40] #119 closed

[2022-06-14 13:11] felixhekhorn opened #129 "Extend documentation on matching"
- [ ] describe matching in the presence of matching scales
  - [ ] we're not allowing to cross them, but shift them - for the moment this is the only option
  - [ ] the true prescription is too complicated for the moment and will be postponed
- [ ] SV in the presence of matrix valued objects (singlet case -> path-ordered exp)

[2022-06-15 14:56] giacomomagni opened #130 "Evolve pdfs with many replicas"
When using `evolve_pdfs` with more than one replica, all the evolved replicas are the same.
Ploblably there is a mistake in how the blocks are appended: see

https://github.com/N3PDF/eko/blob/16b4606d877099ebf7b806f225a2f35adf881049/src/ekobox/evol_pdf.py#L94

This is the script I'm using to evolve the pdf set:
[code]

[2022-06-15 15:13] felixhekhorn commented on #130
@andreab1997 please remember to put a test (or benchmark if needed) once the culprit is found (something that fails without the fix, but works with it)

[2022-06-16 10:25] AleCandido commented on #130
Can we close this? @andreab1997 @giacomomagni

[2022-06-16 10:33] andreab1997 commented on #130
I believe yes, the bug is solved

[2022-06-16 11:59] #130 closed

[2022-06-19 06:35] AleCandido commented on #75
Do we really care about Doped Sets any longer? @felixhekhorn

[2022-06-20 23:50] AleCandido commented on #75
Append to whatever list of "nice to have", but for a student. Actually, we can start labeling the issue this way (so we keep going with GitHub, and avoid fragmentation).

[2022-06-21 14:48] felixhekhorn opened #133 "Broken genpdf docs"
documentation for the API of `genpdf` in sphinx is broken: https://eko.readthedocs.io/en/develop/code/ekobox/ekobox.html

thanks @scarlehoff for spotting

[2022-06-21 15:36] #133 closed, assigned to andreab1997

[2022-06-23 09:51] felixhekhorn opened #134 "ekobox dependencies"
as said by @AleCandido

so someone just copied ... I think the correct `ekobox` dependencies are
- `click` https://github.com/N3PDF/eko/blob/16b4606d877099ebf7b806f225a2f35adf881049/src/ekobox/genpdf/cli.py#L6
- and `banana-hep` e.g. via https://github.com/N3PDF/eko/blob/16b4606d877099ebf7b806f225a2f35adf881049/src/ekobox/gen_theory.py#L5 (subject to #122 )

@AleCandido @andreab1997 do you agree?

[2022-06-23 10:28] AleCandido commented on #134
Following the list of `import` inside `ekobox` for current `develop` branch.

If you strip:
- standard library
- local imports
- dependencies that are already present (e.g. `yaml`)
- and the other packages (i.e. `eko` and `ekomark`)

We remain with the two that you listed, + `lhapdf`.

Unfortunately, the dependency on `ekomark` reintroduces all the others, so we this issue depends on #122 (not the

[2022-07-11 12:41] felixhekhorn opened #136 "HELL Interface"
see https://www.ge.infn.it/~bonvini/hell/

[2022-07-11 13:41] giacomomagni commented on #113
#125

[2022-07-20 10:31] AleCandido opened #138 "Composite Output - distributed computation"
Follow up of #105

- [ ] add `runcards` subfolder and move there runcards (`0.theory.yaml`, `0.operator.yaml`)
- [ ] create `recipes` subfolder and dump instructions
- [ ] create recipes' runner, dump into `parts` subfolder
- [ ] create parts' merger

Further:

- [ ] runcard dump broken: `Q0` and `Qref` are NumPy scalars in both theory and operators card

[2022-07-20 15:28] AleCandido opened #139 "Work in a Temporary Folder"
Instead of using an archive at runtime, that is rather impractical, let's use a temporary folder.

The archive is only generated on save, and load when an EKO is instatiated.

See https://github.com/N3PDF/eko/pull/105#discussion_r925751448

- [x] encode q2 by bytes in filenames
- [x] add contextmanager á la `open()` (to and from tar), wrapping:
     - [x] function to open, extracting the tar

[2022-08-10 10:01] AleCandido commented on #63
@felixhekhorn are we realistically interested in this?

I have the feeling we might start collecting this and a few others somewhere else (e.g. a wiki page), and leave the issue tracker for things that really scheduled in the short-medium term.
What do you think?

[2022-08-10 10:06] felixhekhorn commented on #63
I agree - if ever this is really a long term feature ...

and, if possible, let's aim to not keep issues and PR alive that are stale or ancient ... the wiki page can e.g. contain just a link to here ...

[2022-08-10 10:12] felixhekhorn commented on #63
https://github.com/N3PDF/eko/wiki/List-of-Possible-Future-Features

[2022-08-10 10:12] #63 closed

[2022-08-10 10:16] AleCandido commented on #75
@felixhekhorn maybe this is another candidate for the [List-of-Possible-Future-Features](https://github.com/N3PDF/eko/wiki/List-of-Possible-Future-Features). Should I append?

[2022-08-10 10:23] felixhekhorn commented on #54
@AleCandido another candidate for https://github.com/N3PDF/eko/wiki/List-of-Possible-Future-Features ?

[2022-08-10 10:29] AleCandido commented on #54
Approved

[2022-08-10 10:29] #54 closed

[2022-08-12 07:05] giacomomagni opened #143 "Removing deprecated list of list in harmonic cache"
Explicit call of a function that has a list of list as input doesn't work with `numba`:

[code]

Possible solution is to promote the cache to be a regular `numpy.ndarray` adding some zeros. A bit cleaner but more complex would be to pass a dictionary.
Note that calling functions that don't need `compute_cache` as input works fine.

[2022-08-12 07:31] AleCandido commented on #143
We won't have an infinite number of perturbative orders (N3LO is likely to be the maximum, at least for 10-20 years).
And unless this cache is order of hundreds of megabytes (I'm pretty sure is not) we don't care even about a factor of 2 or some units on the size.

In this context, array are the cleanest thing we can use (everything else becomes dirtier because of `numba`).

[2022-08-12 15:47] felixhekhorn commented on #143
Just to confirm, that after 20min matching did compile ...

[2022-08-31 18:20] AleCandido opened #145 "Public Interface"
We have to decide the public interface of EKO, for the following reason: at the moment, everything is potentially public.
In this way, we won't ever have a v1.0.0, since it is impossible that all internal details will be forever stable.

We also have to decide how to discriminate the public interface from the non-public one. Essentially, I know two ways:
1. [Python underscore convention](https://p

[2022-09-02 08:58] giacomomagni commented on #93
Maybe @AleCandido  we can close this, since we have `ekobox`  now ?

[2022-09-02 10:26] felixhekhorn commented on #93
I guess @AleCandido was thinking about to explicitly avoid lhapdf, but I wonder if that is truly needed - I'd say we just rely on the standard tools instead of reinventing the wheel ...

[2022-09-02 10:27] AleCandido commented on #93
Agreed. I guess we have something close to it, and if not, we're not really interested in for the time being.

I'll close, and we'll worry again only if we'll need it for something.

[2022-09-02 10:27] #93 closed

[2022-09-05 09:32] felixhekhorn opened #146 "Allow different orders in different parts?"
we're currently not able to redo the IC analysis out of the box, since we can not increase the matching order without increasing simultaneously the evolution order (which now is in place). So maybe we should
- allow a different order in matching then evolution (to redo IC)
- allow a different order in beta function (to benchmark CT14lo)

this would introduce 3 orders for the 3 usages we have

What

[2022-09-05 09:38] felixhekhorn commented on #145
Let's do 2) first and then, if needed, afterwards 1)

I'll edit the top entry to add a list of needed entries

[2022-09-05 09:41] felixhekhorn commented on #145
We also have to agree on a strategy for `ekobox` and `ekomark`

[2022-09-05 10:25] AleCandido commented on #146
That things are getting complicated...

Going down this road we're approaching more and more the "new scales to be varied" pattern...

[2022-09-05 10:26] AleCandido commented on #145
That's fair, but less urgent. `ekomark` in particular is really a byproduct, mainly for internal use (while `ekobox` is somewhat more relevant, getting closer to the user).

[2022-09-07 09:33] AleCandido opened #147 "Plethora of Examples"
The referee for sure has a point we are lacking examples in user manual. He had an even stronger point before we were completely lacking a user manual. We simply performed the minimal task of providing something, now we should improve *a lot* over that something.

Being mainly a library, we want have examples of "you run this way, you'll get this output", but we need simple examples nevertheless.

[2022-09-12 13:03] giacomomagni commented on #146
I'm wondering if this is really needed or we can just wait someone to ask for these features ...
This will complicate the a bit the situation which is already intricate since we are adding `QED`,
and give space to run eko with "inconsistent" settings. (For IC we used that option
because we didn't want to wait for full N3LO, not because we believe this is better)

[2022-09-14 15:38] felixhekhorn opened #149 "Allow user to choose also final scale FNS"
After the output rework #138 we should also open the possibility of not only specifying the target scale but also the target FNS, allowing for `nf=None` which determines the FNS from the atlas

[2022-10-10 14:09] AleCandido commented on #139
Contrary to what I said before: the tar file location should be specified, but the temporary directory is always temporary, that is a detail (better not to expose it to the user, it will make code easier).

In any case, for the time being don't allow for directory specification,  if we will have a use case we will extend later.

[2022-10-10 14:19] AleCandido commented on #138
@felixhekhorn whenever you open a new PR, list it (the `#xx` tag) in the corresponding section of the Plan

[2022-10-10 15:26] felixhekhorn opened #150 "Optimize EKO layout for FK consumption"
Okay, if you say the layout is not final my proposal would be to change it from

    op[mu2][pid1][x1][pid0][x0]

to

    op[mu2][pid0][x0][pid1][x1]

so just interchanging the `0` indices with the `1` indices. The difficulty that I foresee is that you probably have to make some adjustments to the EKO file format to support this change.

_Originally posted by @cschwan in https://github.com/NNPDF/p

[2022-10-12 15:42] AleCandido commented on #96
This is also more long term than #138 at this point: the core part of the memory structure has been done in #105, while in #138 the computation will be faced (that will include `OperatorGrid` removal and split threshold operators).

Every other feature here is considered a "nice to have", but no more.

[2022-10-12 15:45] AleCandido opened #153 "Runcards Dataclasses"
There are three very good reasons to move to dedicated classes for loading runcards:

1. having more control over the structure
    - at the moment there is a spread usage, and unclear definition in the docs
2. getting rid of dictionaries and `from_dict` methods (see also #114)
3. sanitize before dump in a unique place
    - as we know since long, YAML is tricked by NumPy scalars, making them very

[2022-10-19 12:45] cschwan opened #155 "Tutorial problems"
I'm trying to follow the [first tutorial for EKO](https://eko.readthedocs.io/en/latest/overview/tutorials/dglap.html), but I ran into the following problem:

[code]

Note that I also ran `pip install banana` without which it fails trivially.

[2022-10-19 12:48] felixhekhorn commented on #155
Conjectured solution: we need: `pip install eko[mark]` instead of the `pip install eko` written [here](https://eko.readthedocs.io/en/latest/overview/tutorials/index.html)

_our_ `banana` module is actually inside the `banana-hep` package - which gets installed by ekomark: https://github.com/NNPDF/eko/blob/01efee1d27d215e895dd055debff8905af3d548c/pyproject.toml#L70

[2022-10-19 12:58] cschwan commented on #155
Installing ekomark doesn't work on my computer:

[code]

[2022-10-19 13:01] felixhekhorn commented on #155
yes, sorry I was unclear again ... the command you have to run is: `pip install eko[mark]`

this will (among other stuff) install the `ekomark` _module_ and the `banana-hep` _package_ (containing the `banana` _module_)

[2022-10-19 13:13] cschwan commented on #155
Oh I see - I didn't realize that square brackets are allowed as a Python package name - my mistake! That solves the problem described above for me.

[2022-10-19 15:17] AleCandido commented on #155
Indeed, the proper way to update the docs should be:
[code]
since some shells (e.g. zsh) interpret the square brackets...

[2022-10-20 10:18] AleCandido opened #157 "Drop Q2 everywhere"
We should update code and docs not to use $Q^2$ in place of $\mu_F^2$, in order to avoid ambiguity, and resulting confusion and bugs.

- [ ] fix docs
- [ ] fix code

Also $x$ would be better replaced by $z$ (but here it is less crucial).

[2022-10-21 08:33] felixhekhorn opened #158 "Collinear Parton Dynamics Beyond DGLAP"
https://arxiv.org/pdf/2210.10061.pdf

looks quite interesting - I wonder whether we could do something similar? (I haven't read or understood it fully)

[2022-10-21 08:46] AleCandido commented on #158
1. they got an equation for the "Track function" not PDFs
2. non-linear means you can not solve with linear operator -> trash EKO
3. EKO itself is a package/library to solve DGLAP, we said from the beginning, so we have nothing "beyond DGLAP" in our initial design; there is nothing bad in refactoring, but adding features over features would bloat our software (and having all the features from the

[2022-10-21 08:58] felixhekhorn commented on #158
accepted

[2022-10-21 08:58] #158 closed

[2022-11-14 11:20] giacomomagni commented on #63
This other two references can be useful if we want to address this at some point:
* https://inspirehep.net/literature/1242455
* https://inspirehep.net/literature/2136620

[2022-11-15 14:42] felixhekhorn opened #163 "LHA benchmark bot"
I'd like to have a "LHA benchmark bot" that runs upon adding a label (e.g. `run-lha-benchmark`) and that runs all LHA benchmarks, since we need to conserve them. There is no need to run them on every commit, but I'd like to run at the end of each PR.

The idea is, of course, stolen from nnpdf.

For the moment I asked people [expli](https://github.com/NNPDF/eko/pull/148#issuecomment-1315393778) - [

[2022-11-15 14:47] AleCandido commented on #163
All the benchmarks run can be automated with very little effort. The only problem was how to evaluate the output (when it should raise an error/warning).

I don't know what you mean by "bot", but if you mean "like fitbot" that is only a workflow, like ours, simply triggered by a label event. We can do it as well, or even do something better.
Still, the "end of a PR" is not an event, just because i

[2022-11-15 14:50] felixhekhorn commented on #163
- Indeed something like the "fitbot" ...
- also a button is just fine, and yes, exactly because it is ill-defined I'd like to keep it manual
- and the output can for now be just the usual print by ekomark that has to be validated by a user

[2022-11-15 14:51] felixhekhorn commented on #163
a workflow can expose some assets after he has run, right?

[2022-11-15 14:51] AleCandido commented on #163
If you acknowledge the impossibility to fail, the alternative is to make a report, like vp ones: you need to compare to something, otherwise is difficult to evaluate, but I believe you can compare against PR base.

So, you need a workflow that:
- trigger on `workflow_dispatch`
- launch two jobs:
  1. checkout PR branch, and run benchmark runners
  2. checkout PR base, and run benchmark runners (th

[2022-11-15 14:54] AleCandido commented on #163
Artifacts for the branch benchmark result can have a small retention period (couple of days), while the other two you keep for a longer time (the base for caching purpose, the report for checking). But you still don't need both of them after PR merging, and if PR continues for long, it is worth rerunning (at least you will have to rebase)

[2022-11-15 14:57] AleCandido commented on #163
Actions for artifacts are:
- https://github.com/actions/upload-artifact
- https://github.com/actions/download-artifact

Action for posting on PR:
- the one used by Juan in fitbot: https://github.com/unsplash/comment-on-pr
- a more canonical way: https://stackoverflow.com/a/64126737/8653979

[2022-11-15 15:06] felixhekhorn commented on #163
all this is v3 of what I'm thinking about :upside_down_face: ... in the first stage I don't need a comparison, I know we have to match 0.0xy (I'm only thinking about LHA atm) ... so a simple print is sufficient and that could be done even without any artifact

[2022-11-15 15:38] AleCandido commented on #163
At least upload the single output as an artifact, scrolling the logs is a pain

[2022-11-17 17:16] andreab1997 opened #164 "Wrong predictions obtained for CHORUS datasets"
When using the `0.11` version of eko to compute the FKs of the CHORUS datasets, some of the resulting predictions are wrong.

 However one can get the correct predictions for that points cutting the grid and keeping only the relevant point (which suggests that the problem is the size of the eko. `CHORUS` ekos are in fact the biggest among the DIS datasets).

Using an older version of `eko` (like 0

[2022-11-17 17:39] AleCandido commented on #164
Now it is barely readable. I would suggest loading the DataFrames in Pandas, and put side by side only the relevant columns, but I'm no going to do it myself.

[2022-11-17 17:46] AleCandido commented on #164
I'm not even sure EKO versions being the only change: you are actually changing even LHAPDF version (written on top), that on its own should be harmless, but it tells that you're definitely using two different environments.

Are you sure that you isolated the problem?

In any case: you should have the associated EKOs, they are files, so it is easier to reproduce the problem wrt the in-memory case

[2022-11-18 10:16] andreab1997 commented on #164
I updated the format showing only one of the two `CHORUS` datasets (the other is just equivalent). Now it should be more readable.

[2022-11-18 10:18] AleCandido commented on #164
You screwed up formatting once more...
![image](https://user-images.githubusercontent.com/10830876/202678899-d0cf9542-eabc-44e3-8b97-ad1190c90c0a.png)

[2022-11-18 10:21] felixhekhorn commented on #164
the [`pre`](https://www.w3schools.com/tags/tag_pre.asp)-tag is your friend ;-)

[2022-11-18 10:26] andreab1997 commented on #164
Indeed I am using two different environments: I need to use two different versions of `eko`  at least. However I am not doing anything special. Other than the two different versions of `eko` I am using of course two different versions of `pineko` and two different version of `lhapdf` (which, as you said, it is most likely irrelevant). So I would say that it is not an isolated problem. However, sin

[2022-11-18 10:29] AleCandido commented on #164
Never used `<pre>` tag directly! It is more annoying, and in case you have some code there won't be any syntax highlight.

You can keep using Markdown inside, just leave a blank line *before* Markdown, and one *after* (blank lines should separate HTML from Markdown, so they should be **external** to the fenced block ` ``` `).

[2022-11-18 10:33] AleCandido commented on #164
From the point of view of EKO, there are no "datasets", there is a continuum of scales, and some discrete options.
Either it is bugged for some specific values of the discrete options, and we are not testing it, or the unit tests are not properly testing the code.

[2022-11-18 10:39] andreab1997 commented on #164
Yes indeed, this is what I meant. Unit tests passing is not equivalent to all the points we compute should be correct because unit tests are not testing every corner of the code.

[2022-11-18 11:03] AleCandido commented on #164
Yes, but they should interpolate the continuum.

If instead the problem is with discrete options, where interpolation is not expected, then it would be useful to find which are the options bugged, in order to start investigating where the bug is in the code.

[2022-11-21 11:11] AleCandido opened #165 "Remove renormalization scale mentions in the docs"
https://github.com/NNPDF/eko/blob/e3466fae35fd245c7e1a99158d8582f590276555/doc/source/theory/DGLAP.rst?plain=1#L26-L28

Contains a spelling mistake (tis -> this) and a mention to renormalization scale, that should never appear in evolution, only confusing more the user (and us developers as well).

I expect this not to be the only mention of $\mu_R$, and we should consistently remove all of them f

[2022-11-21 11:19] AleCandido opened #166 "Remove renormalization scale mentions in the code"
The first obvious place is `fac_to_ren_ratio`, that has been terrible for quite some time, and finally identified as wrong.

Renormalization scale is only affecting the process side, so it does not enter at all DGLAP evolution.

We should replace all occurrences with the process scale $Q^2$, possibly after replacing all occurrences of `Q2` as factorization scale, as described in #157

At the begin

[2022-11-22 17:49] t7phy opened #167 "Issues with installation with poetry"
Hi,
I am installing eko using the steps in development section, with poetry and the installation seems to be getting stuck. Here is the installation in verbose mode:
[code]

As seen above, it seems to be getting stuck at the 'keyring.backend' step which is not clear to me. How do I proceed?

[2022-11-22 20:41] AleCandido commented on #167
Unfortunately, this is a Poetry problem, more than an EKO one.

Poetry needs to store some credentials for publishing operations, and for this reason it uses Python keyring. Unfortunately, it tries to get access also for operations for which is not required: https://github.com/python-poetry/poetry/issues/1917
(moreover, credentials are also needed to get packages from private repositories, but in

[2022-11-24 16:31] lukeronger opened #169 "Undocumented usage of banana in the tutorial"
I tried to use the EKO package for some tests.

However, these is an issue, which I could not understand, which is shown below:

[code]

Actually I have installed banana successfully,  with `pip3 install banana`.
Thanks a lot!

**My simple code is shown below:**
[code]

[2022-11-24 17:51] AleCandido commented on #169
Follows the reply originally sent by email.

---
 Dear Rong Wang,

I'm very pleased you tried to use our program, and I'm sorry it didn't work out of the box.

Unfortunately, we are still work in progress on some new developments, since we noticed that computing very big operators can rapidly fill your memory.
For this reason, I'd suggest to you to use an EKO version in the range 0.8.5 (the one us

[2022-11-24 17:53] AleCandido commented on #169
@NNPDF/theory the tutorial should be better explained, and if we want to use `banana` the installation of `banana-hep` (or equivalently `ekobox`) should be part of the explanation.

[2022-11-25 09:24] felixhekhorn commented on #169
see #155 - shall we consider this as a duplicate?

[2022-11-25 09:41] AleCandido commented on #169
Yes, but this one has a more complete explanation of the issue. Moreover, I would avoid recommending the installation of `ekomark` to any user, and instead encourage `ekobox`.

In practice, they are the same set of deps at the moment, but it is important to keep the focus on the UI.

If you agree, I would close #155 as "superseded", event though you are right that this is the actual duplicate.